body {
    background-image: url("C:/Users/Admin/Desktop/medicine recommendation system in python/static/myimage1.jpeg"); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire body */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    opacity: 1.5;
    margin: 0;
}
.container{
    width: 580px;
    height: 550px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e670b7; /* Light gray background */
    border: 1px solid #56585a; /* Blue border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}